/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.label {
    -fx-font-size: 14px;
}

.lblWelcomeLogined {
	 -fx-padding: 80 50 50 50;
	 -fx-font-size: 25px;
	 -fx-text-fill: navy;
}
.libBigImage {
	 -fx-background-image: url("paper.gif"); 
}
#libImage {
    -fx-background-image: url("lib.png");  
     -fx-padding: 300; 
}

.lblTitle {
	-fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-text-fill: navy;
  
}

#lblHeader2 {
	-fx-font-size: 16px;
	-fx-font-weight: bold;
}



.lblError {
	-fx-font-size: 13px;
    -fx-text-fill: red ;
}

.button {
    -fx-text-fill: black;
    -fx-font-size: 15px;
}

 
/*
 * 
* .label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}


#imageArea {
    -fx-background-image: url("library.png.jpg");  
   
     -fx-padding: 300 3 3 3;  
}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

#welcome-text {
   -fx-font-size: 32px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

#actiontarget {
  -fx-fill: FIREBRICK;
  -fx-font-weight: bold;
  -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );  
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

root { 
    display: block;
}
*/