@CHARSET "UTF-8";
body {
	padding-top: 80px !important;
}

body, h1, h2, h3, h4, h5, h6, p, ul, dl, ol, form, fieldset, input, label, table, tbody, tfoot, th, tr, td, textarea, select {
	font-family: "helvetica neue", helvetica, "lucinda sans unicode", "sans serif";
	font-weight: normal;
	color: #333;
	padding: 0;
	border: 0;
	margin: 0;
	font-size: 12px;
}


header {
	width:100%;
	height:80px;
	background:#d1e0e1;
	color: #333;
	font-weight: bold;
	font-size: 20px;
	text-align:center;
	line-height: 80px;
}

footer {
	width:100%;
	height:60px;
	background:#d1e0e1;
	font-size: 12px;
	text-align:center;
	line-height: 80px;
	margin-top:30px;
}

table, th, td
{
	border: 1px solid #888;
}

section {
	margin:20px 0px 20px 0px;
}

table {
	width:100%;
	border-collapse:collapse;
}

thead {
	line-height: 30px;
}

thead th {
	background: #53777a;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	text-align:center;
}

td {
	font-size: 11px;
	line-height: 25px;
	padding-left: 10px;
}

.even {
	background-color: #f8f8f8;
}

nav:not(.navbar, .navbar-icon-top, .navbar-expand-lg, .navbar-light) {
	margin:15px 0 10px 0;
}

/*nav a:not(.navbar-brand) {*/
/*background: #53777a;*/
/*color: #fff;*/
/*width: 80px;*/
/*text-decoration: none;*/
/*border: 1px solid #5b5b5b;*/
/*font-size: 13px;*/
/*text-align:  center;*/
/*padding:5px 10px;*/
/*}*/

label {
	display: block;
	padding: 8px 0 8px 0;
	color: #333;
}

input {
	border-radius: 3px;
	height: 24px;
	border: 1px solid #AAA;
	padding: 0 7px;
}

input.large {
	width: 400px;
}

select {
	border: 1px solid #AAA;
	overflow: hidden;
	margin-right: 15px;
	width: 200px;
}

.required {
	color: red;
}

.not {
	display:none;
}

.rowHighlight {
	font-weight:bold;
}
tr:nth-child(even) {
	background-color: #d1e0e1;
}

label.filterLabel{
	display: inline;
}

label.error {
	color: red;
	font-weight:bold;
}

.overdue {
	background: #F7DCE5;
}

.warning {
	background: #F7F7DC;
}

.taskCompleted {
	background-color: #27C46B !important;
	opacity: 0.5%;
}

/* For mobile phones: */
[class*="col-"] {
	width: 100%;
}

@media only screen and (min-width: 600px) {
	/* For tablets: */
	.col-s-1 {width: 8.33%;}
	.col-s-2 {width: 16.66%;}
	.col-s-3 {width: 25%;}
	.col-s-4 {width: 33.33%;}
	.col-s-5 {width: 41.66%;}
	.col-s-6 {width: 50%;}
	.col-s-7 {width: 58.33%;}
	.col-s-8 {width: 66.66%;}
	.col-s-9 {width: 75%;}
	.col-s-10 {width: 83.33%;}
	.col-s-11 {width: 91.66%;}
	.col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
	/* For desktop: */
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}