<script id="taskRow" type="text/x-jQuery-tmpl">
<tr>
	<td {{if status == 'Complete'}}class="taskCompleted"{{/if}}>${name}</td>
	<td {{if status == 'Complete'}}class="taskCompleted"{{/if}}>${status}</td>
	<td {{if status == 'Complete'}}class="taskCompleted"{{/if}}>${priority}</td>
	<td {{if status == 'Complete'}}class="taskCompleted"{{/if}}>${assignee.email}</td>
	<td {{if status == 'Complete'}}class="taskCompleted"{{/if}}>${dueDateString}</td>
	<td {{if status == 'Complete'}}class="taskCompleted"{{/if}}>${categoryName}</td>
	<td {{if status == 'Complete'}}class="taskCompleted"{{/if}}>

			{{if status != 'Complete'}}
				<a href="#"  style="text-decoration: none"><img data-toggle="modal" data-target="#exampleModal" class="editRow" data-id="${id}" data-name="${name}"
				data-status="${status}" data-priority="${priority}"
				data-assignee-id="${assignee.id}" data-assignee-email="${assignee.email}" data-due-date="${dueDateString}"
				data-category-id="${categoryId}" src="resources/images/edit.png" style="width : 15%;" title="Edit" /></a>

				<a href="#" style="text-decoration: none"><img  class="completeRow" data-task-id="${id}"   src="resources/images/completed.png" style="width : 15%;" title="Complete" /></a>

			{{/if}}
			<a href="#" style="text-decoration: none"><img class="deleteRow" data-task-id="${id}" src="resources/images/delete.jpg" style="width : 15%;" title="Delete" /></a>
			<a href="#" style="text-decoration: none"><img  class="noteRow" data-task-id="${id}" src="resources/images/note.png" style="width : 15%;" title="Note" /></a>

	</td>
</tr>
</script>
